* {
    box-sizing: border-box;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  p{
    margin: 0;
    
  }
  
  h1,
  h2,
  h3,
  h4{
    font-family: 'Montserrat', sans-serif;
  }
  
  p, a{
    font-family: 'Montserrat', sans-serif;
  }
  
  img,
  picture {
    width: 100%;
  }
  
  html:focus-within {
    scroll-behavior: smooth;
  }

  body {
    width: 100%;
    max-width: 800px;
    margin: 10vh auto;
  }

  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: .80rem;
    margin: .50rem;
  }

  .card-product {
    position: relative;
    border: 1px solid black;
  }

  .product-offer::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    content: "Oferta";
    display: inline-block;
    background-color: #0066b3;
    color: #ffe64c;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
    padding: 0.25rem 0.75rem;
    border-radius: 0 0 0 0.25rem 0;
  }

  .btn-favorite {
    background-color: #fff;
    border-radius: 50%;
    border: none;
    color: #00b2e3;
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    text-align: center;
    z-index: 100;

  }

  .btn-favorite:hover{
    background-color: #00b2e3;
    color: #fff;
  }

  .product-content {
    
    background-color: red;
    padding: 2rem;
    
  } 
  .tooltip-container:hover .tooltip-text {
    display: inline-block;
  }
  .tooltip-container {
    display: flex;
    position: relative;
    /* justify-content: center; */
  }

  .tooltip-text {
    display: none;
    top: -35px;
    left: 120px;
    position: absolute;
    z-index: 1;
    background-color: #00732c;
    color: #fff;
    padding: 8px;
    font-size: 1rem;
    border-radius: 2px;
    animation: fadeIn 0.6s;

  }

/* .tooltip-text:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
    border-top: 8px solid #00732c;
  }  */

  .product-container {
    display: flex;
    align-items: center;
  } 
  .product-quantity-select {
    width: 50%;
  }

  .product-selection {
    background-color: #00b2e3;
    border-color: transparent;
    border-radius: 0;
    color: #fff;
    height: 100%;
    line-height: 1;
  }

  .product-btn {
    width: 50%;
  }

  .primary-button {
    border-radius: 0;
    height: 100%;
    background-color: #00b2e3;
    color: #fff;
    padding: 20px;
  }